
.DS_Store
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
5BData_1.txt
5BData_3.txt
6b_data1.txt
6b_data2.txt
5BData_2.txt
a.out
AscendingBubbleSort.cpp
box.txt
CmathTest.cpp
CS135WS7.cpp
Errors2.txt
for_loop.cpp
Lab6B.dSYM/Contents/Info.plist
Lab6B.dSYM/Contents/Resources/DWARF/Lab6B
GameOfNim
Maintest.cpp
matches.dSYM/Contents/Resources/DWARF/matches
matches.dSYM/Contents/Info.plist
matches.cpp
testing.cpp
Testing123.cpp
testingtesting.cpp
WKSheet9.cpp
testing12.cpp
Errors3.txt
userinput.cpp
Errors1.txt
worksheet10.cpp
CS135WS.cpp